{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
      of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - description_display: Description display setting. It can have these values:
 *   - before: The description is output before the element.
 *   - after: The description is output after the element (default).
 *   - invisible: The description is output after the element, hidden visually
 *     but available to screen readers.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{%
  set fieldset_classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
    'fr-fieldset',
    errors ? 'fr-fieldset--error'
  ]
%}
{%
  set legend_classes = [
    'fr-fieldset__legend--regular',
    'fr-fieldset__legend',
    'fr-text--regular'
  ]
%}

<div class="fr-form-group">

  <fieldset{{ attributes.addClass(fieldset_classes) }}>
    {%
      set legend_span_classes = [
        'fieldset-legend',
        required ? 'js-form-required',
        required ? 'form-required',
      ]
    %}

    {#  Always wrap fieldset legends in a <span> for CSS positioning. #}

    <legend{{ legend.attributes.addClass(legend_classes) }}>
      <div><strong>{{ legend.title }}</strong></div>
      {{ description.content }}
    </legend>

    {# <div class="fieldset-wrapper fr-fieldset__content"> #}
{# 
      {% if description_display == 'before' and description.content %}
        <div{{ description.attributes.addClass('description') }}></div>
      {% endif %} #}

      {% if prefix %}
        <span class="field-prefix">{{ prefix }}</span>
      {% endif %}

      {{ children }}

      {% if errors %}
        <div class="fr-messages-group" id="{{ attributes.id }}-error-messages" aria-live="assertive">
          <p class="fr-message fr-message--error" id="{{ attributes.id }}-error-message-error">{{ errors }}</p>
        </div>
      {% endif %}

      {% if suffix %}
        <span class="field-suffix">{{ suffix }}</span>
      {% endif %}
      {# {% if description_display in ['after', 'invisible'] and description.content %}
        <div{{ description.attributes.addClass('description') }}>{{ description.content }}</div>
      {% endif %} #}

    {# </div> #}
  </fieldset>
</div>