{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if theme.code.w3c != 1 %}
<input{{attributes.addClass(classes)}}>
{% else %}
<input{{attributes.addClass(classes).removeAttribute('aria-required')}}>
{% endif %}
{{ children }}