{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set classes = [
  'fr-btn'
]%}

{% if theme.code.w3c != 1 %} 
  <input{{ attributes.addClass(classes).removeClass('button') }}>
{% else %}
  <input{{ attributes.addClass(classes).removeAttribute('aria-required').removeClass('button') }}>
{% endif %}
 {{ children }}