{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="fr-card fr-enlarge-link fr-card--download">
	<div class="fr-card__body">
		<div class="fr-card__content">
			{# <h3 class="fr-card__title">
				<a download href="[À MODIFIER - example/img/image.jpg]">
					Télécharger le document lorem ipsum sit dolores amet
				</a>
			</h3> #}
			{# <p class="fr-card__desc">Texte de description</p>
			<div class="fr-card__end">
				<p class="fr-card__detail">JPG – 61,88 ko</p>
			</div> #}
    {% if theme.code.w3c != 1 %} 
      <input{{ attributes.addClass(classes) }}> {{ children }}
      <label for="{{ attributes.id }}" class="fr-icon-download-line">{{ 'Choose a file'|t }}</label>
    {% else %}
      <input{{ attributes.addClass(classes).removeAttribute('aria-required') }}> {{ children }}
      <label for="{{ attributes.id }}" class="fr-icon-download-line">{{ 'Choose a file'|t }}</label>
    {% endif %}
		</div>
	</div>
</div>


