{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set classes = [
  'fr-input'
]%}

{% set label_search = theme.header.search.label == '' ? 'Search' : theme.header.search.label %}
{% set label_search = label_search|t %}

{% set attributes = attributes.setAttribute( 'placeholder', label_search ) %}

<div class="fr-search-bar{# fr-search-bar--lg #}" id="search-dsfr-drupal-{{ attributes.id }}" role="search">
  <label class="fr-label" for="{{ attributes.id }}">{{ 'Search'|trans }}</label>
  <input{{ attributes.addClass(classes).removeAttribute('aria-required') }}> {{ children }}
  <button class="fr-btn" title="{{ 'Search'|trans }}">
    {{ 'Search'|trans }}
  </button>
</div>