{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}
{% set classes = [
  'radios'
]%}
<div{{ attributes.addClass(classes) }}>{{ children }}</div>