{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
  <nav role="navigation" class="fr-pagination" aria-label="Pagination" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="js-pager__items fr-pagination__list">
      {% if items.previous %}
        <li>
          <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden sr-only">{{ 'Previous page'|t }}</span>
            {# <span aria-hidden="true">{{ items.previous.text|default('‹‹'|t) }}</span> #}
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li>
          {% trans %}
            <a class="fr-pagination__link" aria-current="page" title="Page {{ items.current }}">Page {{ items.current }}</a>
          {% endtrans %}
        </li>
      {% endif %}
      {% if items.next %}
        <li>
          <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden sr-only">{{ 'Next page'|t }}</span>
            {# <span aria-hidden="true">{{ items.next.text|default('››'|t) }}</span> #}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}