{#
/**
 * @file
 * Theme override for a three-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{%
  set classes = [
    'fr-grid-row',
    'fr-grid-row--gutters'
  ]
%}

{% set dsfr_col = 'fr-col-12 ' %}
{% set dsfr_col1 = 'fr-col-lg-4' %}
{% set dsfr_col2 = dsfr_col1 %}
{% set dsfr_col3 = dsfr_col1 %}

{% for class in attributes.getClass() %}
  {% if '25-50-25' in class %} {% set dsfr_col1 = 'fr-col-lg-3' %} {% set dsfr_col2 = 'fr-col-lg-6' %} {% set dsfr_col3 = 'fr-col-lg-3' %}
  {% elseif '25-25-50' in class %} {% set dsfr_col1 = 'fr-col-lg-3' %} {% set dsfr_col2 = 'fr-col-lg-3' %} {% set dsfr_col3 = 'fr-col-lg-6' %}
  {% elseif '50-25-25' in class %} {% set dsfr_col1 = 'fr-col-lg-6' %} {% set dsfr_col2 = 'fr-col-lg-3' %} {% set dsfr_col3 = 'fr-col-lg-3' %}
  {% endif %}
{% endfor %}

{% set dsfr_col1 = dsfr_col ~ dsfr_col1 %}
{% set dsfr_col2 = dsfr_col ~ dsfr_col2 %}
{% set dsfr_col3 = dsfr_col ~ dsfr_col3 %}

{% set dsfr_col = 'fr-col-12 fr-col-lg-4' %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass(dsfr_col1, 'dsfr-col-1') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass(dsfr_col2, 'dsfr-col-2') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass(dsfr_col3, 'dsfr-col-3') }}>
        {{ content.third }}
      </div>
    {% endif %}

  </div>
{% endif %}