{#
/**
 * @file
 * Theme override for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}

{%
  set classes = [
    'fr-grid-row',
    'fr-grid-row--gutters'
  ]
%}
{% set dsfr_col = 'fr-col-12 fr-col-lg-3' %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass(dsfr_col, 'dsfr-col-1') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass(dsfr_col, 'dsfr-col-2') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass(dsfr_col, 'dsfr-col-3') }}>
        {{ content.third }}
      </div>
    {% endif %}

    {% if content.fourth %}
      <div {{ region_attributes.fourth.addClass(dsfr_col, 'dsfr-col-4') }}>
        {{ content.fourth }}
      </div>
    {% endif %}

  </div>
{% endif %}