{#
/**
 * @file
 * Theme override to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}


{%
  set classes = [
    'fr-grid-row',
    'fr-grid-row--gutters'
  ]
%}

{% set dsfr_col = 'fr-col-12 ' %}
{% set dsfr_col1 = 'fr-col-lg-6' %}
{% set dsfr_col2 = dsfr_col1 %}

{% for class in attributes.getClass() %}
  {# 4 or 8 #}
  {% if '33-67' in class %} {% set dsfr_col1 = 'fr-col-lg-4' %} {% set dsfr_col2 = 'fr-col-lg-8' %}
  {% elseif '67-33' in class %} {% set dsfr_col1 = 'fr-col-lg-8' %} {% set dsfr_col2 = 'fr-col-lg-4' %}
  {# 3 or 9 #}
  {% elseif '25-75' in class %} {% set dsfr_col1 = 'fr-col-lg-3' %} {% set dsfr_col2 = 'fr-col-lg-9' %}
  {% elseif '75-25' in class %} {% set dsfr_col1 = 'fr-col-lg-9' %} {% set dsfr_col2 = 'fr-col-lg-3' %} 
  {% endif %}
{% endfor %}

{% set dsfr_col1 = dsfr_col ~ dsfr_col1 %}
{% set dsfr_col2 = dsfr_col ~ dsfr_col2 %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass(dsfr_col1, 'dsfr-col-1') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass(dsfr_col2, 'dsfr-col-2') }}>
        {{ content.second }}
      </div>
    {% endif %}

  </div>
{% endif %}