{#
/**
 * @file
 * DSFR's theme Get Started section.
 *
 * This section is enabled when no front page content has been populated.
 *
 * TODO:
 * - Translate/localize this page for different languages.
 */
#}

{% set org = 'https://www.drupal.org/' %}

{% set links = {

  'create_content': path('node.add_page'),
  'theme': theme.dsfr.dashboard,
  'site': path('system.site_information_settings'),
  'user': ( logged_in ) ? path('entity.user.canonical', {'user': user.id}) : path('user.login'),

  'drupal_answers': 'https://drupal.stackexchange.com/',
  'drupal_chat': org ~ 'drupalchat',
  'drupal_community': org ~ 'community',
  'drupal_events': org ~ 'community/events',
  'drupal_extend': org ~ 'docs/extending-drupal',
  'drupal_global_training_days': 'https://groups.drupal.org/global-training-days',
  'drupal_slack': org ~ 'slack',
  'drupal_user_guide': org ~ 'docs/user_guide/en/index.html',
  'drupal_values': org ~ 'about/values-and-principles',
  'dsfr_scope': 'https://www.systeme-de-design.gouv.fr/utilisation-et-organisation/perimetre-d-application',

  'academy': 'https://www1.ac-grenoble.fr/',
  'jerome': org ~ 'u/netprogfr',
  'sali': org ~ 'u/sali38',
  'siasi': org ~ 'siasi-service-interacad%C3%A9mique-des-syst%C3%A8mes-dinformation',

  'dsfr_core_drupal': org ~ 'project/dsfr_core',
  'dsfr_menu_drupal': org ~ 'project/dsfr_menu',
  'dsfr_paragraph_drupal': org ~ 'project/dsfr_paragraph',
  'dsfr_twig_components_drupal': org ~ 'project/dsfr_twig_components',
  'dsfr_views': '#',
  'dsfr_views_drupal': '#'
} %}

{% set links = (modules.dsfr_core) ? links|merge({ 'dsfr_core' : path('dsfr_core.settings') }) : links|merge({ 'dsfr_core' : 'dsfr_core_drupal' }) %}
{% set links = (modules.dsfr_menu) ? links|merge({ 'dsfr_menu' : path('dsfr_menu.import') }) : links|merge({ 'dsfr_menu' : 'dsfr_menu_drupal' }) %}
{% set links = (modules.dsfr_paragraph) ? links|merge({ 'dsfr_paragraph' : path('dsfr_paragraph.manage') }) : links|merge({ 'dsfr_paragraph' : 'dsfr_paragraph_drupal' }) %}
{% set links = (modules.dsfr_twig_components) ? links|merge({ 'dsfr_twig_components' : path('dsfr_twig_components.demo') }) : links|merge({ 'dsfr_twig_components' : 'dsfr_twig_components_drupal' }) %}
{% set links = (theme.project.kickstart and modules.simple_styleguide) ? links|merge({ 'styleguide' : path('simple_styleguide.controller') }) : links|merge({ 'styleguide' : '#' }) %}

{% set target = ' target=_blank' %}

{% set smile = '
  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" style="margin-left:5px" fill="currentColor">
		<path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM7 13H9C9 14.6569 10.3431 16 12 16C13.6569 16 15 14.6569 15 13H17C17 15.7614 14.7614 18 12 18C9.23858 18 7 15.7614 7 13ZM8 11C7.17157 11 6.5 10.3284 6.5 9.5C6.5 8.67157 7.17157 8 8 8C8.82843 8 9.5 8.67157 9.5 9.5C9.5 10.3284 8.82843 11 8 11ZM16 11C15.1716 11 14.5 10.3284 14.5 9.5C14.5 8.67157 15.1716 8 16 8C16.8284 8 17.5 8.67157 17.5 9.5C17.5 10.3284 16.8284 11 16 11Z"></path>
	</svg>' 
%}
{% set medias = [
    'dsfr_components.png'
  ]
%}

{# ======================================================================================================================================================================= #}

{% block intro %}

  <p style="display:flex">
    {{ 'Thank you for joining the Drupal DSFR community'|t }}
    {{ smile|raw }}
  </p>

  <div class="fr-grid-row fr-grid-row--gutters">

    <div class="fr-col fr-col-md-7">
      <div class="fr-callout fr-icon-warning-line">
        <h3 id="licence" class="fr-callout__title">{{ 'Licence'|t }}</h3>
        <p class="fr-callout__text">
          {{ 'It is strictly forbidden to use the DSFR outside of the French State’s websites (including other public actors, such as territorial administrations).'|t }}
        </p>
        <a href="{{ links.dsfr_scope }}"{{ target }} class="fr-btn">
          {{ 'Scope of use'|t }}
        </a>
      </div>
    </div>

    <div class="fr-col fr-col-md-5">

      <figure class="fr-content-media" role="group" style="margin-top:0">
        <div class="fr-content-media__img"> 
          <img class="fr-responsive-img" src="{{ theme.dsfr.img }}{{ medias.0 }}" alt="" />
        </div>
      </figure>

    </div>
  </div>

{% endblock intro %}

<div class="text-content">

{# ======================================================================================================================================================================= #}
{# Start #}

{% block start %}

	<h2 id="steps" class="fr-mt-3w">{{ 'Get started quickly'|t }}</h2>

	<div class="fr-grid-row fr-grid-row--gutters">

    {% set this_size = '6' %}
    {% if id == 'frontpage' and modules.dsfr_core == 1 %}
      {% set this_size = '3' %}
    {% elseif id == 'frontpage' or modules.dsfr_core == 1 %}
      {% set this_size = '4' %}
    {% endif %}

		<div class="fr-col fr-col-md-{{ this_size }}">
      {% set this_desc = 'Using Drupal’s functions while logged in.'|t %}
      {% if logged_in %}
        <div class="fr-card">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title">
                {{ 'Unlocked access'|t }}
              </h3>
              <p class="fr-card__desc">{{ this_desc }}</p>
              <div class="fr-card__start">
                <ul class="fr-badges-group">
                  <li>
                    <p class="fr-badge fr-badge--success">{{ 'Connected'|t  }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="fr-card fr-enlarge-link">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title">
                <a href="{{ links.user }}">{{ 'Unlocked access'|t }}</a>
              </h3>
              <p class="fr-card__desc">{{ this_desc }}</p>
              <div class="fr-card__start">
                <ul class="fr-badges-group">
                  <li>
                    <p class="fr-badge fr-badge--warning">{{ 'Not connected'|t }}</p>                  
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    {% if modules.dsfr_core == 1 %}
      <div class="fr-col fr-col-md-{{ this_size }}">
        <div class="fr-card fr-enlarge-link">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title">
                <a href="{{ links.dsfr_core }}">{{ 'DSFR Settings'|t }}</a>
              </h3>
              <p class="fr-card__desc">{{ 'Dashboard of activated DSFR functionalities (theme and modules).'|t }}</p>
              <div class="fr-card__start">
                <ul class="fr-badges-group">
                  <li>
                    <p class="fr-badge fr-badge--info">{{ 'Settings'|t  }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

		<div class="fr-col fr-col-md-{{ this_size }}">
      <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title">
              <a href="{{ links.create_content }}">{{ 'Create Content'|t }}</a>
            </h3>
            <p class="fr-card__desc">
              {{ 'Want to get right to work? Start adding content!'|t }}
              
              {% if id == 'frontpage' %}
                <br /><br />
                {{ 'Note: the information on this page will go away once you add content to your site. Read on and bookmark resources of interest.'|t }}
              {% endif %}
            </p>
            <div class="fr-card__start">
              <ul class="fr-badges-group">
                <li>
                  <p class="fr-badge fr-badge--info">{{ 'Edition'|t  }}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if id == 'frontpage' %}
      <div class="fr-col fr-col-md-{{ this_size }}">
        <div class="fr-card fr-enlarge-link">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title">
                <a href="{{ links.site }}">{{ 'Set a frontpage'|t }}</a>
              </h3>
              <p class="fr-card__desc">
                {{ 'You haven’t created any frontpage content yet.'|t }}
              </p>
              <div class="fr-card__start">
                <ul class="fr-badges-group">
                  <li>
                    <p class="fr-badge fr-badge--warning">{{ 'Missing homepage'|t  }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

	</div>

{% endblock start %}

{# ======================================================================================================================================================================= #}
{# About DSFR #}

{% block dsfr %}

	<h2 id="dsfr" class="fr-mt-6w">{{ 'About this DSFR project'|t }}</h2>

	<p>{{ 'The DSFR environment has been designed to facilitate the user experience'|t }}
		<a href="https://www.systeme-de-design.gouv.fr/"{{ target }}>{{ 'Design System of the French State (DSFR)'|t }}</a>
    {{ 'on Drupal'|t }}.
	</p>

  {# DSFR Environment #}
  <div class="fr-accordions-group fr-mt-3w">
    <section class="fr-accordion">    
      <h3 class="fr-accordion__title">   
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1114">{{ 'Theme'|t }}</button>    
      </h3>    
      <div class="fr-collapse" id="accordion-1114">   

        <p class="fr-badge fr-badge--info fr-mb-3w">DSFR Version {{ theme.dsfr.version }}</p> 

        <h4>{{ 'Access global theme settings'|t }}</h4>

        <p>{{ 'The theme can be quickly customized via its'|t }} <a href="{{ links.theme }}">{{ 'theme settings interface'|t }}</a>.</p>

        <h4>{{ 'Set up a child theme'|t }}</h4>
        <p>{{ 'We strongly recommend that you create a child theme of the DSFR theme for your custom project that requires code.'|t }}</p> 

        <div class="fr-highlight">
          <p>{{ 'You can try the command directly in the theme:'|t }}
          <strong>npm run install</strong>, 
          {{ 'then'|t }} <strong>npm run child</strong> 
          {{ 'and follow the instructions (see the "docs/" theme).'|t }}</p>
        </div>

        {% if theme.dsfr.kickstart and modules.simple_styleguide %}
          <div class="fr-callout fr-callout--blue-cumulus fr-icon-information-line">
            <p class="fr-callout__text">
              {{ 'You can view the various'|t }} 
              <a href="{{ links.styleguide }}">{{ 'interface elements proposed by the DSFR'|t }}</a> 
              {{ 'and integrated into this Drupal distribution.'|t }}
            </p>
          </div>
        {% endif %}

      </div>
    </section>
    <section class="fr-accordion">    
      <h3 class="fr-accordion__title">   
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1116">{{ 'Complementary modules'|t }}</button>    
      </h3>    
      <div class="fr-collapse" id="accordion-1116">     

        <h4>{{ 'Editable components'|t }}</h4>
        <div class="fr-grid-row fr-grid-row--gutters">

          <div class="fr-col fr-col-md-4">
            <div class="fr-card fr-enlarge-link">
              <div class="fr-card__body">
                <div class="fr-card__content">
                  <h3 class="fr-card__title">
                    {% if ( modules.dsfr_menu == 1 ) %}
                      <a href="{{ links.dsfr_menu }}">DSFR Menu</a>
                    {% else %}
                      <a href="{{ links.dsfr_menu_drupal }}"{{ target }}>DSFR Menu</a>
                    {% endif %}
                  </h3>
                  <p class="fr-card__desc">
                    {{ 'Automatically generates sample menus in dedicated theme regions.'|t }}
                  </p>
                  <div class="fr-card__start">
                    <ul class="fr-badges-group">
                      <li>
                        <p class="fr-badge fr-badge--success">Available</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>   

          <div class="fr-col fr-col-md-4">
            <div class="fr-card fr-enlarge-link">
              <div class="fr-card__body">
                <div class="fr-card__content">
                  <h3 class="fr-card__title">
                    {% if ( modules.dsfr_paragraph == 1 ) %}
                    <a href="{{ links.dsfr_paragraph }}">DSFR Paragraph</a>
                    {% else %}
                      <a href="{{ links.dsfr_paragraph_drupal }}"{{ target }}>DSFR Paragraph</a>
                    {% endif %}
                  </h3>
                  <p class="fr-card__desc">
                    {{ 'This module provides a suite of directly editable DSFR components with a "What you see is what you get" (WYSiWYG) approach.'|t }}
                  </p>
                  <div class="fr-card__start">
                    <ul class="fr-badges-group">
                      <li>
                        <p class="fr-badge fr-badge--warning">Beta</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>   

          <div class="fr-col fr-col-md-4">
            <div class="fr-card">
              <div class="fr-card__body">
                <div class="fr-card__content">
                  <h3 class="fr-card__title">
                    DSFR Views
                  </h3>
                  <p class="fr-card__desc">
                    {{ 'This module provides design patterns for certain DSFR components (such as card, table, tile...).'|t }}
                  </p>
                  <div class="fr-card__start">
                    <ul class="fr-badges-group">
                      <li>
                        <p class="fr-badge fr-badge--warning">{{ 'Coming soon'|t }}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <h4 class="fr-mt-3w">{{ 'Development modules'|t }}</h4>

        <div class="fr-grid-row fr-grid-row--gutters">

          <div class="fr-col fr-col-md-6">
            <div class="fr-card fr-enlarge-link">
              <div class="fr-card__body">
                <div class="fr-card__content">
                  <h3 class="fr-card__title">
                    {% if ( modules.dsfr_core == 1 ) %}
                    <a href="{{ links.dsfr_core }}">DSFR Core</a>
                    {% else %}
                      <a href="{{ links.dsfr_core_drupal }}"{{ target }}>DSFR Core</a>
                    {% endif %}
                  </h3>
                  <p class="fr-card__desc">
                    {{ 'This module provides storage services (such as fields), tools and a common DSFR dashboard.'|t }}
                  </p>
                  <div class="fr-card__start">
                    <ul class="fr-badges-group">
                      <li>
                        <p class="fr-badge fr-badge--warning">Beta</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-col fr-col-md-6">
            <div class="fr-card fr-enlarge-link">
              <div class="fr-card__body">
                <div class="fr-card__content">
                  <h3 class="fr-card__title">
                    {% if ( modules.dsfr_twig_components == 1 ) %}
                      <a href="{{ links.dsfr_twig_components }}">{{ 'DSFR Twig components'|t }}</a>
                    {% else %}
                      <a href="{{ links.dsfr_twig_components_drupal }}"{{ target }}>{{ 'DSFR Twig components'|t }}</a>
                    {% endif %}
                  </h3>
                  <p class="fr-card__desc">
                    {{ 'This module provides functions for generating DSFR components in Twig templates.'|t }}
                    {{ links.dsfr_twig_drupal }}
                  </p>
                  <div class="fr-card__start">
                    <ul class="fr-badges-group">
                      <li>
                        <p class="fr-badge fr-badge--warning">Beta</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section class="fr-accordion">   
      <h3 class="fr-accordion__title">   
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1120">{{ 'Distribution'|t }}</button>    
      </h3>    
      <div class="fr-collapse" id="accordion-1120"> 

        <p class="fr-badge fr-badge--warning">Beta version</p> 

        <p class="fr-mt-3w">
          <a href="https://www.drupal.org/project/dsfr_kickstart"{{ target }}>{{ 'DSFR Kickstart distribution'|t }}</a> 
          {{ 'is designed to allow you to quickly test the Design System of the French State (DSFR).'|t }}
        </p>

      </div>
    </section>
    <section class="fr-accordion">    
      <h3 class="fr-accordion__title">   
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1125">{{ 'Mainteners'|t }}</button>    
      </h3>    
      <div class="fr-collapse" id="accordion-1125">  

        <p>
          {{ 'The entire project is supported by the'|t }} 
          <a href="{{ links.siasi }}"{{ target }}>
          Service Interacadémique des Systèmes d'informations
          </a> 
          (SIASI) {{ 'within in the'|t }} 
          <a href="{{ links.academy }}"{{ target }}>
            {{ 'Grenoble Academy'|t }} 
          </a>
            ({{ 'French national education authority'|t }}).
        </p>

        <div class="fr-grid-row fr-grid-row--gutters">

          <div class="fr-col fr-col-md-6">

            <div class="fr-grid-row fr-grid-row--gutters">

              <div class="fr-col fr-col-md-6">
                <div class="fr-card fr-enlarge-link">
                  <div class="fr-card__body">
                    <div class="fr-card__content">
                      <h3 class="fr-card__title">
                        <a href="{{ links.sali }}"{{ target }}>Sali Mougammadou</a>
                      </h3>
                      <p class="fr-card__desc">
                        {{ 'Technical project manager, in charge of DSFR distribution and project relations.'|t }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fr-col fr-col-md-6">
                <div class="fr-card fr-enlarge-link">
                  <div class="fr-card__body">
                    <div class="fr-card__content">
                      <h3 class="fr-card__title">
                        <a href="{{ links.jerome }}"{{ target }}>Jérôme Bouquet</a>
                      </h3>
                      <p class="fr-card__desc">
                        {{ 'Lead developer and integrator of the theme and associated modules.'|t }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>

          <div class="fr-col fr-col-md-6">
            <div class="fr-highlight fr-highlight--green-emeraude">
              <p>{{ 'Don’t hesitate to give your opinion on the project, the improvements you’d like to see, or even to join us!'|t }}</p>
            </div>
          </div>

        </div>

      </div>
    </section>
  </div>

{% endblock dsfr %}

{# ======================================================================================================================================================================= #}
{# About Drupal #}

{% block drupal %}

	<h2 id="drupal" class="fr-mt-6w">{{ 'About Drupal'|t }}</h2>

	<p>{% trans %}There are a few ways to get started with Drupal:{% endtrans %}</p>

	<div class="fr-grid-row fr-grid-row--gutters">

		<div class="fr-col fr-col-md-6">
			<div class="fr-tile fr-tile--horizontal fr-enlarge-link" id="tile-1001">
				<div class="fr-tile__body">
					<div class="fr-tile__content">
						<h4 class="fr-tile__title">
							<a href="{{ links.drupal_user_guide }}"{{ target }}>{{ 'User Guide'|t }}</a>
						</h4>
						<p class="fr-tile__detail">{{ 'Includes installing, administering, site building, and maintaining the content of a Drupal website.'|t }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fr-col fr-col-md-6">
			<div class="fr-tile fr-tile--horizontal fr-enlarge-link" id="tile-1002">
				<div class="fr-tile__body">
					<div class="fr-tile__content">
						<h4 class="fr-tile__title">
							<a href="{{ links.drupal_extend }}"{{ target }}>{{ 'Extend Drupal'|t }}</a>
						</h4>
						<p class="fr-tile__detail">	
              {{ 'Drupal’s core software can be extended and customized in remarkable ways. Install additional functionality and change the look of your site using addons contributed by our community.'|t }}
            </p>
					</div>
				</div>
			</div>
		</div>
	</div>

  <section class="fr-accordion fr-mt-3w">    
    <h3 class="fr-accordion__title">   
      <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">{{ 'Next Steps'|t }}</button>    
    </h3>    
    <div class="fr-collapse" id="accordion-106">        
 
      <p>{% trans %}Bookmark these links to our active Drupal community groups and support resources.{% endtrans %}</p>
      <div class="fr-grid-row fr-grid-row--gutters">

        <div class="fr-col fr-col-md-4">
          <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h3 class="fr-card__title">
                  <a href="{{ links.drupal_global_training_days }}"{{ target }}>{{ 'Global Training Days'|t }}</a>
                </h3>
                <p class="fr-card__desc">{{ 'Helpful information for evaluating Drupal as a framework and as a career path. Taught in your local language.'|t }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col fr-col-md-4">
          <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h3 class="fr-card__title">
                  <a href="{{ links.drupal_events }}"{{ target }}>{{ 'Upcoming Events'|t }}</a>
                </h3>
                <p class="fr-card__desc">
                  {{ 'Learn and connect with others at conferences and events held around the world.'|t }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col fr-col-md-4">
          <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h3 class="fr-card__title">
                  <a href="{{ links.drupal_community }}"{{ target }}>{{ 'Community Page'|t }}:</a>
                </h3>
                <p class="fr-card__desc">
                  {{ 'List of key Drupal community groups with their own content.'|t }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col fr-col-md-6">
          <div class="fr-card">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h3 class="fr-card__title">
                  <a href="{{ links.drupal_slack }}"{{ target }}>{{ 'Get support and chat with the Drupal community on Slack'|t }}</a>
                </h3>
                <p class="fr-card__desc">{{ 'or:'|t }}</p>
              </div>
              <div class="fr-card__footer">
                <ul class="fr-links-group">
                  <li>
                    <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{{ drupal_chat }}"{{ target }}>
                      DrupalChat
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col fr-col-md-6">
          <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h3 class="fr-card__title">
                  <a href="{{ links.drupal_answers }}"{{ target }}>{{ 'Drupal Answers on Stack Exchange'|t }}</a>
                </h3>
                <p class="fr-card__desc">{{ 'When you’re looking for a solution to a problem.'|t }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

{% endblock drupal %}

</div>