/*** Overlay ***/
button#tarteaucitronBack {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $color_transparent !important;
  opacity: 1 !important;
  z-index: 2147483646;
}

/*** Modal ***/
#tarteaucitron {

  #tarteaucitronClosePanel,
  #tarteaucitronServices,
  #tarteaucitronServices .tarteaucitronLine,
  #tarteaucitronServices .tarteaucitronMainLine, 
  #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronH1, 
  #tarteaucitronServices .tarteaucitronMainLine #tarteaucitronInfo, 
  #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName .tarteaucitronH2,
  #tarteaucitronBorder ul li .tarteaucitronTitle {

    color: $color_text !important;
    background-color: $color_bg !important;
  }

  /* Button close modal */
  #tarteaucitronClosePanel {

    display: inline-flex;
    position: absolute;
    flex-direction: row-reverse;
    color: $color_main !important;
    width: fit-content !important;
    padding: 0.25rem;
    top: -.6rem;
    line-height: 1.5rem;
    font-size: 0.875rem;
    align-items: center;
    outline-offset: 0px;
    padding-left: 2em;
    padding-right: 2rem;
    z-index: 10000;

    &:hover {
      --blend-size: var(--blend-full-size);
    }

    &::before {
      color: $color_main !important;
      font-family: dsfr-tac-icons !important;
      font-style: normal;
      font-weight: normal !important;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      content: "";
      font-size: 1rem;
      margin-right: -0.25rem;
      margin-left: 0.5rem;
    }
  }

  #tarteaucitronServices {

    padding-left: 2rem;
    padding-right: 2rem;

    /*---------------------------------------------*/
    /* Global buttons allow + deny */
    .tarteaucitronAllow, .tarteaucitronDeny {
      
      display: inline-flex !important;
      align-items: center;
      background: transparent;
      color: $color_text !important;
      font-size: 1.1rem;
      font-weight: bold !important;
      opacity: 1 !important;
      
      &#tarteaucitronAllAllowed, &#tarteaucitronAllDenied { background: transparent; }
      
      .tarteaucitronCheck, .tarteaucitronCross { display: none !important; }
      
      &::before {

        display: block;
        content: " ";
        flex-shrink: 0;
        border: 1px solid $color_text;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }

      /* Selected symbol */
      &.tarteaucitronIsSelected /* &[aria-pressed="true"] */
      {
        @mixin selected_symbol $color_main;
      }

      /* Disabled */
      &[disabled=disabled], &:disabled {
        opacity: .5 !important;
        /*cursor: no-drop;*/

        &:not(.tarteaucitronCTAButton)::before {
          background-color: $color_transparent;
          opacity: .5 !important;
        }
      }
    }
    .tarteaucitronIsAllowed .tarteaucitronAllow, 
    .tarteaucitronIsDenied .tarteaucitronDeny { 
      
      @mixin selected_symbol $color_main;     
    }

    /*---------------------------------------------*/
    .tarteaucitronMainLine {

      border: none;

      .tarteaucitronH1 {

        font-weight: bold;
        text-align: left;
      }

      #tarteaucitronInfo {

        max-width: 100% !important;
        text-align: left !important;
        padding: 0 !important;
        border: 0;
        margin-bottom: 2rem !important;
      }

      .tarteaucitronName {
        .tarteaucitronH2 {
          margin-left: 0;
          font-weight: bold;
        }
      }

      //.tarteaucitronAsk {}
    }

    /*---------------------------------------------*/
    .tarteaucitronBorder {

      border: 0;

      ul, li, .tarteaucitronTitle { background: $color_bg; }

      ul {
        & > li {

          border-top: solid 1px $color_transparent;

          .tarteaucitronTitle {

            background: transparent;

            & > button, .catToggleBtn {

              //width: 100%;
              padding: 1rem 0;
              background: $color_bg !important;
              border: 0;
              font-size: 1.3rem;
              
              .tarteaucitronPlus::before {
                display: none;
              }

              &:focus {
                outline: 0;
              }
            }
          }
          
          &#tarteaucitronServicesTitle_mandatory {
            button {
              
              color: $color_text !important;
              cursor: inherit;
            }        

            .tarteaucitronLine { border: 0; }
          }

          &.tarteaucitronHidden  {

            padding-bottom: 2rem;

            .tarteaucitronTitle button {

              display: inline-flex;
              justify-content: flex-end;
              flex-direction: row-reverse;
              color: $color_main !important;

              .tarteaucitronPlus::after {

                display: inline-block;
                content: "\003F"; // question
                color: $color_main !important;
                margin-left: .3rem;              
              }
            }

            ul {
              .tarteaucitronLine {

                border: 0;

                .tarteaucitronName {
                  .tarteaucitronH3 {

                    font-size: 1.2rem;
                    padding-bottom: .7rem;
                  }

                  .tacCurrentStatus, .tarteaucitronReadmoreSeparator, .tarteaucitronListCookies {
                    font-size: 1rem !important;
                  }

                  a {
                    
                    font-size: 1rem !important;
                    &:hover { text-decoration: none; }
                  }
                }
                //.tarteaucitronAsk {}
              }
            }
          }
        }
      }

      /* Link Tarteaucintron */
      .tarteaucitronSelfLink {
        display: none;
      }
    }
  }
}