/* Title | Titre */

h1, h2, h3, h4 { 
  color: $color_text !important; 
  font-weight: bold;   
}

h1 {
  font-size: 2.75rem;
  line-height: 1.25;    

  @media (min-width: 48em) {      
    font-size: 3rem; 
  } 
}
h2 {
  font-size: 2rem;
  line-height: 1.25;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}
h4 {
  font-size: 1.375rem;
  line-height: 1.375;
}

/*** Links | Liens ***/
a {
  color: $color_main !important;
  box-shadow: 0 1px 0 0 currentColor;
  text-decoration: none; 

  &:focus {
    outline: 2px solid;
    outline-color: $color_main; /* var (--focus) */
    outline-offset: 2px;
    z-index: var(--focus-z-index); 
  }

  &[target="_blank"]::after {
    content: "";
    font-family: dsfr-tac-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1; 
    font-size: 1rem;
    margin-left: 0.25rem;
    vertical-align: baseline;
  }
}

/*** Buttons | Boutons ***/
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;

  &:focus {
    outline: 2px solid;
    outline-color: $color_main; /* var (--focus) */
    outline-offset: 2px;
    z-index: var(--focus-z-index);
  }

  &#tarteaucitronPrivacyUrl {
    position: absolute;
    font-size: 9px;
    background: transparent;
    bottom: 0.5em;
    left: 2.5em;
  }
}

/*** Lists | Listes ***/
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*** Positioning of the manager's opening button ***/
/*** Positionnements du bouton d'ouverture du gestionnaire ***/
.tarteaucitronIconBottomLeft,
.tarteaucitronIconBottomRight,
.tarteaucitronIconTopLeft,
.tarteaucitronIconTopRight {
  position: fixed;
  z-index: 4000;
}
.tarteaucitronIconBottomLeft {
  bottom: 0;
  left: 0;
}
.tarteaucitronIconBottomRight {
  bottom: 0;
  right: 0;
}
.tarteaucitronIconTopLeft {
  top: 0;
  left: 0;
}
.tarteaucitronIconTopRight {
  top: 0;
  right: 0;
}

/*---------------------------------------------*/
/*** Display of the TAC icon as a design system button ***/
/*** Affichage de l'icône TAC sous forme de bouton design system ***/
#tarteaucitronIcon {

  #tarteaucitronManager  {

    background-color: $color_main;
    color: $color_main_inverted;
    padding: 0.5rem 1.5rem;
    line-height: 1.5rem;
    min-height: 2.5rem;
    font-size: 1rem !important;
    border-radius: 0;
    
    & > img { display: none; }  

    &::before { 
      content: "Cookies"; 
      background-color: $color_main !important;
      color: $color_main_inverted !important;
    }    
  } 
} 

/*---------------------------------------------*/
/**
  Styles of the banner (#tarteaucitronAlertBig) and banner elements 
  - Styles du bandeau (#tarteaucitronAlertBig) et des éléments du bandeau -
**/

/*** Banner | Bandeau ***/
&.tarteaucitronBeforeVisible {

  &:before {
    display: none;
    //opacity: 1 !important;
    background-color: var(--overlay) !important;
  }

  #tarteaucitronAlertBig {

    &:before {
      content: none !important;
    }

    display: flex !important;
    border-radius: 0;
    position: fixed;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    color: $color_text;
    background: $color_contrast!important;
    z-index: 2147483645;
    max-height: 73vh;
    overflow-y: scroll;
    justify-content: right !important;
    box-shadow: none !important;

    /* Bandeau >= 768px */
    @media screen and (min-width: 48em) {
      
      width: 36rem !important;
      bottom: 2.5rem !important;
      left: 2.5rem !important;
      padding: 2rem !important;
      margin: auto;
      top: auto !important;
      transform: none !important;
      box-shadow: inset 0 0 0 1px var(--g400) !important;
      border-radius: 0 !important;
    }

    @media screen and (min-width: 48em) {

      max-height: initial;
      height: auto;
      padding-right: 0;
      overflow: initial;
    }

    /*** Action buttons on the banner ***/
    /*** Boutons d'action du bandeau ***/
    #tarteaucitronCloseAlert,
    #tarteaucitronPersonalize,
    .tarteaucitronCTAButton {
      font-size: inherit;
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      line-height: 1.5rem;
      width: 100%;
      margin: .5rem 0;
      min-height: auto;
    }
    
    #tarteaucitronPersonalize,
    .tarteaucitronCTAButton {
      background-color: $color_main!important;
      color: $color_main_inverted!important;
    }
 
    #tarteaucitronCloseAlert {
 
      background-color: transparent;
      color: $color_main !important;
      box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
      order: 5;
      margin-bottom: 0 !important;
    }

    #tarteaucitronAllDenied2 {
      order: 4; 
    }

    #tarteaucitronPersonalize2,
    #tarteaucitronPersonalize {
      order: 3;
      margin-right: 0; 
    }

    @media screen and (min-width: 36em) {

      #tarteaucitronCloseAlert,
      #tarteaucitronPersonalize, 
      .tarteaucitronCTAButton {
        width: auto;
        margin: 0 .5rem !important;
        display: flex !important;
      }

      .tarteaucitronCTAButton:not(.tarteaucitronAllow, .tarteaucitronDeny) {
        margin: 0 0 0 auto !important;
      }

      #tarteaucitronCloseAlert {
        order: 3; 
      }
      
      #tarteaucitronAllDenied2 {
        order: 4;
      }
      
      #tarteaucitronPersonalize2,
      #tarteaucitronPersonalize {
        order: 5;
        margin-right: 0 !important;
      }
    }

    /*** Banner text ***/
    /*** Texte du bandeau ***/
    #tarteaucitronDisclaimerAlert {

      margin-bottom: 2rem;
      color: $color_text !important;
  
      display: flex;
      width: 100%;
      justify-content: left;
      padding-left: 0px !important;
      padding-bottom: 2rem !important;
  
      /*** Overidding the lower margins of the design system ***/
      /*** Surcharge des margin bottom trop importantes du design system ***/
      & > p {
        margin-bottom: 1rem;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  /*** Button to close the optional banner (closePopup) ***/
  /*** Bouton fermer le bandeau optionnel (closePopup) ***/
  #tarteaucitronCloseCross {

    &:first-letter {
      color: transparent;
    }

    position: relative;
    color: $color_text !important;
    padding: .25rem .75rem;
    display: block;
    line-height: 1.5rem;
    min-height: 2rem;
    font-size: .875rem;
    border-radius: 1rem;
    width: 5rem;
    margin-bottom: .5rem;
    border-radius: 1rem;

    &:before {
      content: "Fermer";
      position: absolute;
      left: .75rem;
    }

    &:after {
      font-family: dsfr-tac-icons !important;
      font-style: normal;
      font-weight: normal !important;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      content: "";
      font-size: 1rem;
      height: 1rem;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  /** Icons before allow all / deny all **/
  /*span {    
    padding-right: .5rem !important;
  }*/
  .tarteaucitronCross::before, .tarteaucitronCheck::before {
    display: none;
    //color: $color_main_inverted !important;
  }

}
