{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
<nav role="navigation" class="fr-breadcrumb{{ theme.breadcrumb.position }}" aria-label="{{ 'you are here'|t }}:">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-system">{{ 'See the breadcrumb trail'|t }}</button>
  {# <h2 class="visually-hidden sr-only">{{ 'Breadcrumb'|t }}</h2> #}
  <div class="fr-collapse" id="breadcrumb-system">
    <ol class="fr-breadcrumb__list">
      {% set ib = 1 %}
      {% for item in breadcrumb %}
        <li>
          {% if item.url %}
            <a class="fr-breadcrumb__link" href="{{ item.url }}"{% if breadcrumb|length == ib %} aria-current="page" {% endif %}>{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
        {% set ib = ib + 1 %}
      {% endfor %}
    </ol>
  </div>
</nav>
{% endif %}