{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
<li{{ attributes }} role="presentation">
  <a href="{{ link['#url'] }}" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" role="tab" aria-selected="{% if is_active %}true{% else %}false{% endif %}">{{ link['#title'] }}</a>
</li>
