{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary %}
  <h2 class="visually-hidden fr-sr-only">{{ 'Primary tabs'|t }}</h2>
  <ul class="fr-tabs__list" role="tablist" aria-label="{{ 'Primary tabs'|t }}">
  {{ primary }}
  </ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden fr-sr-only">{{ 'Secondary tabs'|t }}</h2>
  <ul class="fr-tabs__list" role="tablist" aria-label="{{ 'Secondary tabs'|t }}">
    {{ secondary }}
  </ul>
{% endif %}