{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% if items %}

    {# ---------------------------------------------------------------------------------------- #}
    {# Footer menu #}
    {# ---------------------------------------------------------------------------------------- #}
    
    {% set footer_menu = false %}
    {% set li_footer = '' %}
    {% if 'footer-top' in menu_name %} 
      {% set footer_menu = true %}
      {% set footer_region = 'top' %}
    {% elseif 'last' in menu_name %} 
      {% set footer_menu = true %}
      {% set li_footer = 'fr-footer__bottom-item' %}
      {% set footer_region = 'bottom' %}
    {% elseif 'institutional' in menu_name %} 
      {% set footer_menu = true %}
      {% set li_footer = 'fr-footer__content-item' %}
      {% set footer_region = 'content' %}
    {% endif %}
    
    
    {% if footer_menu == true %} 

      {% if 'footer-top' in menu_name %} 
        <ul class="fr-footer__top-list">
      {% elseif 'footer-last' in menu_name %} 
        <ul class="fr-footer__bottom-list">
      {% else %} 
        <ul class="fr-footer__content-list">
      {% endif %}

      {% for item in items %}

      {% set target = item.url.external ? '_blank' : '_self' %}
      {% if item.url.options.attributes.target %}
        {% set target = item.url.options.attributes.target %}
      {% endif %}

        <li{{ attributes.addClass(li_footer) }}>{{ link(item.title, item.url, {
                'class': 'fr-footer__' ~ footer_region ~ '-link',
                'target': target,
            }) 
        }}</li>

      {% endfor %}
      </ul>

    {# ---------------------------------------------------------------------------------------- #}
    {# Social menu #}
    {# ---------------------------------------------------------------------------------------- #}
    {% elseif 'social' in menu_name  %} 

      <ul class="fr-btns-group">
      {% for item in items %}

        <li>{{ link(item.title, item.url, {
                'class': 'fr-btn--' ~ item.title|lower ~' fr-btn',
                'title': item.title ~ ' - new window'|t ,
                'target': '_blank'
            }) 
        }}</li>

      {% endfor %}
      </ul>

    {% else %}
    {# ---------------------------------------------------------------------------------------- #}
    {# Default type menu (sidemenu) #}
    {# ---------------------------------------------------------------------------------------- #}
    
      <ul{{ attributes.addClass('fr-sidemenu__list') }}>

        {% for item in items %}

          {% if item.url.isRouted and item.url.routeName == '<nolink>' %}
            {% set menu_item_type = 'nolink' %}
          {% elseif item.url.isRouted and item.url.routeName == '<button>' %}
            {% set menu_item_type = 'button' %}
          {% else %}
            {% set menu_item_type = 'link' %}
          {% endif %}

          {% set sidemenu_item = 'fr-sidemenu__item' %}
          {% if item.in_active_trail %} {% set sidemenu_item = sidemenu_item ~ ' fr-sidemenu__item--active' %} {% endif %}


          <li{{ item.attributes.addClass(sidemenu_item) }}>

            {% if item.below %}

              {# Prevents button conflicts if the same menu is called up in several regions #}
              {% set aria_id = menu_name ~ '-submenu-' ~ random(0, 100) ~ '-' ~ random(0, 10000) %}

              <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="sidemenu-{{ aria_id}}" {% if item.in_active_trail %} aria-current="true"{% endif %}>
                {{ link(menu_item_type == 'link' ? link_title : item.title, item.url, { 'class': link_classes }) }}
              </button>
              <div class="fr-collapse" id="sidemenu-{{ aria_id }}">
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              </div>

            {% else %}

              {% set custom_class = 'fr-sidemenu__link' %}
              {# {% if item.url.options.attributes.class %}
                {% set custom_class = custom_class ~ ' ' ~ item.url.options.attributes.class %}
              {% endif %} #}

              {% set target = item.url.external ? '_blank' : '_self' %}
              {% if item.url.options.attributes.target %}
                {% set target = item.url.options.attributes.target %}
              {% endif %}

              {{ link(item.title, item.url, {
                    'class': custom_class,
                    'target': target,
                  }) 
              }}

            {% endif %}
            
          </li>
        {% endfor %}
      </ul>    
    {% endif %}

  {% endif %}
{% endmacro %}