{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}

{% set display = theme.header.settings %}

{{ menus.menu_links(items, attributes, 0, display) }}

{% macro menu_links(items, attributes, menu_level, display) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass('fr-links-group') }}>
      {% set class_icon = '' %}
      {% for item in items %}
        <li>

          {% if item.url.routeName == 'user.login' %} {% set class_icon = 'fr-icon-account-line' %}
          {% elseif item.url.routeName == 'user.logout' %} {% set class_icon = 'fr-icon-close-circle-line' %}
          {% elseif item.url.routeName == 'user.page' %} {% set class_icon = 'fr-icon-lock-line' %} {% endif %}

          {{ link(item.title, item.url, item.attributes.addClass('fr-link', class_icon)) }}
        </li>
      {% endfor %}
      {% if display.visible %}
      <li>
        <button class="fr-link fr-icon-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">{{ display.label|t }}</button>
      </li>
      {% endif %}
    </ul>
  {% endif %}
{% endmacro %}