{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, this_url) }}

{% macro menu_links(items, attributes, menu_level, this_url) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="fr-nav__list">
    {% else %}
      <ul class="fr-menu__list">
    {% endif %}

    {% for item in items %}

      {% set menu_item_type = 'link' %}
      {% set force_in_active_trail = false %}

      {% if item.url.isRouted and item.url.routeName == '<nolink>' %}
        {% set menu_item_type = 'nolink' %}
      {% elseif item.url.isRouted and item.url.routeName == '<button>' %}
        {% set menu_item_type = 'button' %}
      {% elseif this_url.front and item.url.isRouted and item.url.routeName == '<front>' %}
        {% set force_in_active_trail = true %}
      {% endif %}

      {% if menu_level == 0 %}
        <li{{ item.attributes.addClass('fr-nav__item') }}>
      {% else %}
        <li>
      {% endif %}

      {% if item.below %}

        {% set aria_id = (item.title ~ '-submenu-' ~ loop.index )|clean_id %}

        <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-{{ aria_id}}"{% if item.in_active_trail %} aria-current="page" {% endif %}>
          {{ item.title }}
        </button>
        <div class="fr-collapse fr-menu" id="menu-{{ aria_id }}">
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        </div>

      {% else %}

        {% set custom_class = 'fr-nav__link' %}
        {% if item.url.options.attributes.class %}
          {% set custom_class = custom_class ~ ' ' ~ item.url.options.attributes.class %}
        {% endif %}

        {% set target = item.url.external ? '_blank' : '_self' %}
        {% if item.url.options.attributes.target %}
          {% set target = item.url.options.attributes.target %}
        {% endif %}

        {{ link(item.title, item.url, {
              'class': custom_class,
              'target': target,
              'aria-current': item.in_active_trail or force_in_active_trail ? 'page' : false,
            }) 
        }}

      {% endif %}

      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}