[class*=lpb-btn] {

  --text-spacing: 0;
  --title-spacing: 0;
  --underline-img: none;
  --hover-tint: var(--hover);
  --idle: transparent;
  --hover: var(--background-action-high-blue-france-hover);
  --active: var(--background-action-high-blue-france-active);
  align-items: center;
  background: none;
  background-color: var(--background-action-high-blue-france);
  color: var(--text-inverted-blue-france);
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}