#app-dsfr-drupal[class*="-edit"],
[class*="node-add"] {

  dl { border-bottom: solid 1px #ccc; }
  dt {

    padding-block: .8rem;
    border-top: solid 1px #ccc;

    &[class^=fr-icon-]:before { --icon-size: 1.3rem; }    
    a { 
      font-size: 1.1rem;
      font-weight: bold; 
    }
  }
  dd { padding-bottom: .8rem; }

  [class^=fr-icon-]:before { margin-right: .5rem; }

  #contenu form.node-form {

    fieldset {

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .form-managed-file {

        .fr-card {

          width: fit-content;

          .fr-card__body,
          .fr-card__content
          { 
            margin: 0;
            padding: 0; 
          }
        }
      }

      .vertical-tabs {

        .vertical-tabs__menu-item a { background: transparent; }

        details { padding: 1rem; }
      }

      input { width: auto; }
      [data-drupal-selector^="edit-title"] { width: 100%; }
    }
  }
}

.fr-textarea-drupal textarea {

  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
  background-color: var(--background-contrast-grey);
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  color: var(--text-label-grey);
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  width: auto;
}

label.form-required,
label.jsform-required {

  &::after {

    display: inline;
    content: "*";
    color: red;
  }
}
