.dsfr-media-library {

  .header-dsfr-media-library {

    a {

      --text-spacing: 0;
      --title-spacing: 0;
      --underline-img: none;
      --hover-tint: var(--hover);
      display: inline-flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      background-color: var(--background-action-low-blue-france);
      box-shadow: 0 2px 0 0 var(--background-default-grey);
      font-size: 1rem;
      font-weight: 700;
      height: 100%;
      line-height: 1.5rem;
      margin: 0 0.25rem;
      min-height: 2.5rem;
      overflow: visible;
      padding: 0.5rem 1rem;
      white-space: nowrap;
      width: -moz-fit-content;
      width: fit-content;
      z-index: 1;
      color: var(--text-action-high-grey);
      border-top: transparent solid 2px;

      &.is-active {

        color: var(--text-active-blue-france);
        border-top: var(--border-active-blue-france) solid 2px;
        background: transparent;
        border-inline: solid 1px var(--border-default-grey);
      }
    }
  }

  form {

    .fr-fieldset {

      margin: auto;
      padding: 1rem;
    }
  }
}