/* Fix the toolbar-administration menu with DSFR */

#toolbar-administration {

  ul {
    &>li {

      padding-bottom: 0 !important; 

      &:before { display: none !important; }
      a { box-shadow: none !important; }    
    }
  }

  [href] {
    background-image: none !important;
  }  
}

.fr-header { z-index: calc(var(--ground) + 300) !important; }