{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{% import _self as alert %}

<div data-drupal-messages>
  {% for type, messages in message_list %}
    {% for message in messages %}
      {% if ' maintenance' in message|render %}
        {{ alert.fr_alert('warning', message, status_headings, false) }}
      {% else %}
        {{ alert.fr_alert(type, message, status_headings, true) }}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

{% macro fr_alert( type, message, status_headings, close ) %}

  {% if type == 'status' %}
    {% set fr_alert = 'fr-alert--success' %}
    {% set fr_alert_message = 'success'|t %}
  {% else %}
    {% set fr_alert = 'fr-alert--' ~ type %}
    {% set fr_alert_message = type|t %}
  {% endif %}

  {% set fr_alert_message = fr_alert_message|capitalize %}
  <div class="fr-alert {{ fr_alert }} fr-alert--sm fr-mt-1v fr-mb-3v">
    {% if status_headings[type] %}
      <p class="fr-alert__title visually-hidden sr-only">{{ status_headings[type] }}</p>
    {% endif %}
    <p>
      <strong>{{ fr_alert_message|t }}</strong>{{ ': '|t }}{# Punctuation spacing differs between languages #}
      {{ message }} 
    </p>
    {% if close == true %}
    <button class="fr-btn--close fr-btn" title="{{ 'Hide message'|t }}" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
      {{ 'Hide message'|t }}
    </button>
    {% endif %}
  </div>
{% endmacro %}