{#
  /**
   * @file
   * Theme override for a two column layout.
   *
   * This template provides a two column display layout with full width areas at
   * the top, bottom and in the middle.
   *
   * Available variables:
   * - in_preview: Whether the plugin is being rendered in preview mode.
   * - content: The content for this layout.
   * - attributes: HTML attributes for the layout <div>.
   */
  #}
  {%
    set classes = [
      'fr-grid-row',
      'fr-grid-row--gutters'
    ]
  %}
  
  {% set dsfr_col = 'fr-col-12 ' %}
  {% set dsfr_col1 = 'fr-col-lg-6' %}
  {% set dsfr_col2 = dsfr_col1 %}
  
  {% if content %}
    <div{{ attributes.addClass(classes) }}>
      {% if content.top %}
        <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top', dsfr_col) }}>
          {{ content.top }}
        </div>
      {% endif %}
  
      {% if content.first_above %}
        <div {{ region_attributes.first_above.addClass('layout__region', 'layout__region--first-above', dsfr_col1) }}>
          {{ content.first_above }}
        </div>
      {% endif %}
  
      {% if content.second_above %}
        <div {{ region_attributes.second_above.addClass('layout__region', 'layout__region--second-above', dsfr_col2) }}>
          {{ content.second_above }}
        </div>
      {% endif %}
  
      {% if content.middle %}
        <div {{ region_attributes.middle.addClass('layout__region', 'layout__region--middle', dsfr_col) }}>
          {{ content.middle }}
        </div>
      {% endif %}
  
      {% if content.first_below %}
        <div {{ region_attributes.first_below.addClass('layout__region', 'layout__region--first-below', dsfr_col1) }}>
          {{ content.first_below }}
        </div>
      {% endif %}
  
      {% if content.second_below %}
        <div {{ region_attributes.second_below.addClass('layout__region', 'layout__region--second-below', dsfr_col2) }}>
          {{ content.second_below }}
        </div>
      {% endif %}
  
      {% if content.bottom %}
        <div {{ region_attributes.bottom.addClass('layout__region', 'layout__region--bottom', dsfr_col) }}>
          {{ content.bottom }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  