{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}    
    <img src="{{ site_logo }}" class="fr-responsive-img dsfr-drupal-logo" alt="Logo de {{ site_name }} {{ site_slogan }}" style="max-width:9.0625rem;" />
    <!-- The image alternative (alt attribute) must be filled in and include the text visible in the image. -->
    <!-- L’alternative de l’image (attribut alt) doit impérativement être renseignée et reprendre le texte visible dans l’image -->
  {% endif %}
{% endblock content %}