{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% block content %}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div>

    <form action="{{ content['#action'] }}" method="get" id="{{ content['#id'] }}" accept-charset="UTF-8">
      <fieldset class="fr-fieldset">       

        <div class="js-form-item form-item js-form-type-textfield form-item-sapi js-form-item-sapi form-no-label fr-fieldset__content ">
          
          {# <strong>
            <label for="edit-keys--2" class="visually-hidden fr-label">Search</label>
          </strong> #}
      
          <div class="fr-search-bar" {#id="search-dsfr-drupal-edit-keys--2"#} role="search">
            {# <label class="fr-label" for="edit-keys--2">Search</label> #}
            <input 
              title="{{ 'Enter the terms you wish to search for'|t }}." 
              placeholder="{{ content.sapi['#attributes'].placeholder }}" 
              data-drupal-selector="{{ content.sapi['#id'] }}" 
              type="search" 
              id="{{ content.sapi['#id'] }}" 
              name="{{ content.sapi['#name'] }}" 
              value="{{ content.sapi['#value'] }}" 
              size="15" 
              maxlength="{{ content.sapi['#maxlength'] }}" 
              class="form-search fr-input"> 
            <button class="fr-btn" title="{{ 'Search'|t }}">
              {{ 'Search'|t }}
            </button>
          </div>

        </div>

      </fieldset>
    </form>

  </div>
</div>
{% endblock %}