{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 * - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 * 
 * Different types of DSFR menus :
 * - account [template ready] => 1 level
 * - main menu [template ready] => 2 levels
 * - sidemenu (optional class : fr-sidemenu--full-border) => illimited
 * - footer-top (MUST CONTAIN "footer-top" in the ID) => 1 level
 *
 * SIDEMENU is the default menu type
 * 
 */
#}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}

{% set type_menu = 'sidemenu' %}
{% set types_menu = ['account', 'footer-top', 'main', 'social', 'last', type_menu] %}
{% for tm in types_menu %}
 {% if tm in heading_id %} {% set type_menu = tm %}
 {% elseif tm in attributes.storage.class.0 %} {% set type_menu = tm %} {% endif %}
{% endfor %}

{% if type_menu == 'main' %}
  <nav{% if theme.code.w3c != 1 %} role="navigation"{% endif %} {{ attributes.addClass('fr-nav main-menu') }} aria-label="{{ 'Main menu'|trans }}">
{% elseif type_menu == 'sidemenu' %}
  {# optional class : fr-sidemenu--full-border #}
  <nav{% if theme.code.w3c != 1 %} role="navigation"{% endif %} {{ attributes.addClass('fr-sidemenu') }} aria-label="{{ 'Sidemenu'|trans }}">
{% endif %}

  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}

  {{ title_prefix }}

  {% if type_menu == 'sidemenu' and label %}  
    <div class="fr-sidemenu__inner">
      <button class="fr-sidemenu__btn" aria-controls="sidemenu-{{ attributes.id }}" aria-expanded="false">{{ 'In this section'|trans }}</button>
      <div class="fr-collapse" id="sidemenu-{{ attributes.id }}">
        <div class="fr-sidemenu__title">{{ configuration.label }}</div>
  
  {% elseif type_menu == 'footer-top' and label %}  
    <h3 class="fr-footer__top-cat">{{ configuration.label }}</h3>
  
  {% else %}
    {% if label %}<h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>{% endif %}
  {% endif %}

  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}

  {% if type_menu == 'main' %}</nav>  
  {% elseif type_menu == 'sidemenu' %}{% if label %}</div></div>{% endif %}</nav>{% endif %}