{#
    /**
     * @file
     * Theme override to display a two-column layout.
     *
     * Available variables:
     * - in_preview: Whether the plugin is being rendered in preview mode.
     * - content: The content for this layout.
     * - attributes: HTML attributes for the layout <div>.
     */
    #}
    {%
      set classes = [
        'fr-grid-row',
        'fr-grid-row--gutters'
      ]
    %}
    
    {% set dsfr_col1 = 'fr-col-lg-4' %}
    {% set dsfr_col2 = 'fr-col-lg-8' %}
    
    {% if content %}
    
      <div{{ attributes.addClass(classes) }}>
        {% if content.first %}
          <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first', dsfr_col1) }}>
            {{ content.first }}
          </div>
        {% endif %}
    
        {% if content.second %}
          <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second', dsfr_col2) }}>
            {{ content.second }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    