/* Fix the search form included in the Drupal pattern form */
.fr-header .fr-search-bar .fr-btn {
  /* max-width: 3rem; */
  padding-left: 0.5rem;
}

/* Checkbox with our without label*/
.fr-checkbox-group { display: flex; }

/* Tabs tasks (active) */
#block-dsfr-local-tasks { overflow: inherit; }

/* CKEditor (dialog) */
.ck-body-wrapper {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
}

#header-tool__fr-theme-modal { margin-bottom: 0;}