/* Input file */
.js-form-file.form-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -1;

  & + label {

    display: inline-flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 2.5rem;
    color: var(--text-inverted-blue-france);
    background-color: var(--background-action-high-blue-france);
    padding: 0.5rem 1rem;
    width: fit-content;
  }
    
  &:focus + label,
  & + label:hover {

    background-color: var(--background-action-high-blue-france-hover);
    cursor: pointer;
  }
}

.button {

  --text-spacing: 0;
  --title-spacing: 0;
  --underline-img: none;
  --hover-tint: var(--hover);
  --idle: transparent;
  --hover: var(--background-action-high-blue-france-hover);
  --active: var(--background-action-high-blue-france-active);
  align-items: center;
  background-color: var(--background-action-high-blue-france);
  color: var(--text-inverted-blue-france);
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.button--danger {

  --hover: inherit;
  --active: inherit;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #000091;
  box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
  color: #000091;
  color: var(--text-action-high-blue-france);
}

.form-item .fr-vertical_tabs-group {

  .vertical-tabs__menu .vertical-tabs__menu-item a { background-image: none; }
  details { padding: 1rem; }
}

/* Dark mode */
[data-fr-theme=dark] {

  /* Editor */
  .ck.ck-editor__main>.ck-editor__editable { background-color: var(--background-contrast-grey) !important; }

  /* Widget */
  .ui-widget-content { 

    background-color: var(--background-default-grey);

    a { color: var(--grey-50-1000); }
  }
  /* If Gin toolbars */
  .ui-dialog .ui-widget-content {

    &.ui-dialog-content,
    &.ui-dialog-buttonpane {
    
      background: var(--background-default-grey) !important;
    }
  }

  /* Icons */
  svg rect {
    fill: white;
    stroke: white;
  }  


  /* Footer tabs */
  .fr-hint-text { color: var(--blue-france-sun-113-625-active) }
  
  .vertical-tabs__menu .vertical-tabs__menu-item {

    background-color: var(--grey-950-100);

    &.is-selected {
      
      background-color: var(--background-default-grey);

      a strong { color: var(--grey-50-1000); }
    }
  }
}