.ui-widget-overlay.ui-front { z-index: 1000; }
.ui-widget-overlay { background: #333 !important; }

.ui-dialog  {

  z-index: 2000 !important;

  button {

    &:hover {

      color: var(--text-inverted-blue-france);
      background-color: var(--background-action-high-blue-france-hover);
    }
  }

  .ui-dialog-titlebar {

    display: flex;

    .ui-dialog-titlebar-close {
  
      position: relative !important;
      opacity: 1;
      width: 30px !important;
      margin: 15px 0 -10px 0;
    }
  }

  .fr-collapse { --collapse-max-height: auto !important; }
  .fr-link--close.fr-link { display: none !important; }
}