@charset "utf-8";

#app-dsfr-drupal[class*="user"] {

  #block-dsfr-local-tasks {

    display: none !important;
  }

  .form-actions.js-form-wrapper.form-wrapper,
  .button.js-form-submit.form-submit.fr-btn, 
  .button.button--primary.js-form-submit.form-submit.fr-btn {

    width: 100%
  }


  /* Register */
  .user-register-form {

    .fr-fieldset { 

      align-items: baseline;

      #edit-account {

        padding: 1rem;

        .js-form-type-textfield {
    
          margin-left: -1px;
          margin-top: 1rem;
        }
      }

      details { 
        
        width: 100%; 
        margin-bottom: 1rem;
      }
    }
    
    .field--name-user-picture {
      width: 100%;
    }
  }

  /* User Pass */
  .user-pass {

    .fr-fieldset {

      flex-direction: column;
      align-items: baseline;
    }
  }
}