@charset "UTF-8"; 

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Marianne", arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5fe;

  &::before,
  &::after {
    box-sizing: inherit;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
a {
  text-decoration: var(--text-decoration);
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: #0a76f6;
}
*:focus-visible {
  z-index: 500;
  outline-style: solid;
}
.fr-container {
  width: 100%;
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.fr-grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.fr-grid-row--center {
  justify-content: center;
  align-items: center;
}
.fr-grid-row--gutters {
  margin: -0.5rem;

  & > [class^=fr-col-],
  & > [class*=" fr-col-"] {
    padding: 0.5rem;
  }
}

.fr-col-12 {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}
.fr-btns-group {
  list-style: none;
  padding: 0;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.fr-btns-group .fr-btn > span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.fr-btns-group--inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.fr-btns-group--inline .fr-btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.fr-btns-group--sm .fr-btn {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.fr-btn {
  border-radius: 0;
  padding: 0.25rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  overflow: initial;
  max-width: 100%;
  max-height: none;
  font-weight: 500;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.fr-btn svg {
  width: 1rem;
  height: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
  fill: #000091;
}
.fr-server__body {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.fr-server__footer {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
.fr-server__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}
.fr-server__image img {
  width: 13.25rem;
  margin: 0 auto;
}
.fr-h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.fr-text--xl {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.fr-text--sm {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.fr-btn--tertiary {
  background-color: #f6f6f6;
  box-shadow: inset 0 0 0 1px #ddd;
  color: #000091;
}
.fr-btn--tertiary:hover {
  background-color: #dfdfdf;
}
.fr-btn--tertiary:active {
  background-color: #cfcfcf;
}
@media(min-width: 48em) {
  .fr-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .fr-col-offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .fr-col-md-6 {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .fr-col-md-3 {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
  .fr-server__image {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .fr-server__image img {
    width: 100%;
  }
  .fr-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}