{#
    /**
     * @file
     * Theme override for a three column layout.
     *
     * This template provides a three column 25%-50%-25% display layout, with
     * additional areas for the top and the bottom.
     *
     * Available variables:
     * - in_preview: Whether the plugin is being rendered in preview mode.
     * - content: The content for this layout.
     * - attributes: HTML attributes for the layout <div>.
     */
    #}
    {%
      set classes = [
        'fr-grid-row',
        'fr-grid-row--gutters'
      ]
    %}
    
    {% set dsfr_col = 'fr-col-12 ' %}
    {% set dsfr_col1 = 'fr-col-lg-3' %}
    {% set dsfr_col2 = 'fr-col-lg-6' %}
    {% set dsfr_col3 = dsfr_col1 %}
    
    {% if content %}
      <div{{ attributes.addClass(classes) }}>
        {% if content.top %}
          <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top', dsfr_col) }}>
            {{ content.top }}
          </div>
        {% endif %}
    
        {% if content.first %}
          <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first', dsfr_col1) }}>
            {{ content.first }}
          </div>
        {% endif %}
    
        {% if content.second %}
          <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second', dsfr_col2) }}>
            {{ content.second }}
          </div>
        {% endif %}
    
        {% if content.third %}
          <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third', dsfr_col3) }}>
            {{ content.third }}
          </div>
        {% endif %}
    
        {% if content.bottom %}
          <div {{ region_attributes.bottom.addClass('layout__region', 'layout__region--bottom', dsfr_col) }}>
            {{ content.bottom }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    