{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}{% if theme.general.mourning %} data-fr-mourning{% endif %}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">  
    <title>{{ head_title|safe_join(' | ') }}</title>
    {% if theme.favicon.use_default == 1 %}
    <link rel="apple-touch-icon" href="{{ theme.dsfr.favicons }}apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="{{ theme.dsfr.favicons }}favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="{{ theme.dsfr.favicons }}favicon.ico" type="image/x-icon"><!-- 32×32 -->
    {% endif %}
    
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">

    {% set user_pages = [
      'user-login',
      'user-register',
      'user-password'
    ] %}

    {% if site.logged or site.maintenance != 1 or this_url.current_clean in user_pages %}

      {# DSFR style by component #}
      {% set components = theme.dsfr.components %}

      {% if theme.dsfr.external == 1 %}
        {{ attach_library('dsfr/libraries.dsfr') }}
      {% elseif components.count == components.enabled or components.enabled == 0 %}
        {{ attach_library('dsfr/local.dsfr') }}
      {% else %}
        {% for key, component in theme.dsfr.components %}
          {% if component.lib == true %} {{ attach_library('dsfr/local.' ~ key) }} {% endif %}
        {% endfor %}
      {% endif %}

    {% elseif site.maintenance and not site.logged %}
      {{ attach_library('dsfr/drupal_maintenance') }}
    {% endif %}

    {# Style for optional modules #}
    {% if theme.code.newsletter == 1 %}{{ attach_library('dsfr/simplenews') }}{% endif %}
    {% if theme.code.gdpr == 1 %}{{ attach_library('dsfr/tacjs') }}{% endif %}

  </head>
  <body{{ attributes }}>

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    {% if theme.code.gdpr == 2 %}

      <div class="fr-consent-banner">
        <h2 class="fr-h6">{{ 'About cookies on sitename.fr'|t }}</h2>
        <div class="fr-consent-banner__content">
          <p class="fr-text--sm">{{ 'Welcome'|t }}! {{ 'We use cookies to enhance your experience and the services available on this site.'|t }}
            {{ 'For more information'}}, {{ 'visit the page'|t }}
            <a href="#">{{ 'Personal data and cookies'|t }}</a>. 
            {{ 'You can, at any time, have control over the cookies you wish to activate.'|t }}</p>
        </div>
        <ul class="fr-consent-banner__buttons fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-sm">
          <li>
            <button class="fr-btn" title="{{ 'Accept all'|t }} cookies">
              {{ 'Accept all'|t }}
            </button>
          </li>
          <li>
            <button class="fr-btn" title="{{ 'Deny all'|t }} cookies">
              {{ 'Deny all'|t }}
            </button>
          </li>
          <li>
            <button class="fr-btn fr-btn--secondary" data-fr-opened="false" aria-controls="fr-consent-modal" title="{{ 'Customize cookies'|t }}">
              {{ 'Personalize'|t }}
            </button>
          </li>
        </ul>
      </div>

    {% endif %}

    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>