{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.(...): .
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set section_disabled = false %}
{% if site.maintenance == 1 and site.logged == false %}
	{% set section_disabled = true %}
{% endif %}

{% set version = '' %}
{% if theme.general.version.name != '' %}	
	{% set version =  '
<span class="fr-badge fr-badge--sm fr-badge--' ~ theme.general.version.color ~'">
	' ~ theme.general.version.name ~ '
</span>' %}
{% endif %}

{# Skip links #}
{% block skiplinks %}
<div class="fr-skiplinks">
	<nav role="navigation" class="fr-container" aria-label="{{ 'Quick access'|t }}">
		<ul class="fr-skiplinks__list">
			{# Content is mandatory #}	
			<li><a class="fr-nav__link" href="#contenu">{{ 'Content'|t }}</a></li>
			{# Footer is mandatory #}		
			{% if section_disabled == false %}
				<li><a class="fr-nav__link" href="#footer">{{ 'Footer'|t }}</a></li>
			{% endif %}
		</ul>
	</nav>
</div>
{% endblock skiplinks %}

{% block app_dsfr_drupal %}
	<div id="app-dsfr-drupal" class="{% if is_front %}frontpage{% else %}{{ this_url.current_clean }}{% endif %}">

		{% block sidemenu_overlay %}{% endblock sidemenu_overlay %}

		{# -------------------------------------------------------------------------------------------- #}
		{# HEADER WITH NAV #}
		{% block header %}
			{% if section_disabled == false %}
				<header role="banner" class="fr-header">
					<div class="fr-header__body">
						<div class="{{ theme.header.container }}">
							<div class="fr-header__body-row">
								<div class="fr-header__brand fr-enlarge-link">
									<div class="fr-header__brand-top">

										{% block header_logo_institutional %}
											<div class="fr-header__logo">
												<p class="fr-logo">
													{{ theme.general.institution|raw }}
												</p>
											</div>
										{% endblock header_logo_institutional %}

										{% if theme.general.version.only != 1 %}
											{% block header_logo_image %}
												{% if theme.header.logo.img != 1 and page.header_brand %}
													<div class="fr-header__operator">
														{{ page.header_brand }}
													</div>
												{% endif %}
											{% endblock header_logo_image %}
										{% endif %}

										{% block header_responsive_buttons %}
											<div class="fr-header__navbar">
												<button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-header-search" id="button-542" title="{{ 'Search'|t }}">
													{{ 'Search'|t }}
												</button>
												<button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-header-navigation" aria-haspopup="menu" id="button-492" title="Menu">
													{{ 'Menu'|t }}
												</button>
											</div>
										{% endblock header_responsive_buttons %}

									</div>
									{% block header_logo_text %}
										{% if theme.header.logo.text != 1 and page.header_brand %}
											<div class="fr-header__service">
												{% if theme.general.version.only == 1 and theme.general.version.name != '' %}
													<a href="/" title="{{ site.name }}">{{ version|raw }}</a>
												{% else %}
													<a href="/" title="{{ site.name }}">
														<p class="fr-header__service-title">{{ site.name }}{{ version|raw }}</p>
													</a>
													{% if site.slogan %}
														<p class="fr-header__service-tagline">{{ site.slogan }}</p>
													{% endif %}
												{% endif %}
											</div>
										{% elseif theme.general.version.name != '' %}
											<a href="/" title="{{ site.name }}">{{ version|raw }}</a>
										{% endif %}
									{% endblock header_logo_text %}

								</div>
								<div class="fr-header__tools">
									{% block header_display %}
										{% block header_menu %}
										<div class="fr-header__tools-links">
											{% if page.header_menu %}
												{{ page.header_menu }}
											{% else %}
												{% if theme.header.settings.visible %}
													{% set label_display = theme.header.settings.label == '' ? 'Display settings' : theme.header.settings.label %}
													{% set label_display = label_display|t %}
													<ul class="fr-btns-group">
														<li>
															<button id="header-tool__fr-theme-modal" class="fr-btn fr-footer__bottom-link fr-icon-theme-fill fr-btn--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">
																{{ label_display }}
															</button>
														</li>
													</ul>
												{% endif %}
											{% endif %}
										</div>
										{% endblock header_menu %}
									{% endblock header_display %}
									{% block header_search %}
										<div class="fr-header__search fr-modal" id="modal-header-search" aria-labelledby="button-542">
											<div class="fr-container fr-container-lg--fluid">
												<button class="fr-btn--close fr-btn" aria-controls="modal-header-search" title="{{ 'Close'|t }}">
													{{ 'Close'|t }}
												</button>
												{% if page.header_search %}
													{{ page.header_search }}
												{% endif %}
											</div>
										</div>
									{% endblock header_search %}
								</div>
							</div>
						</div>
					</div>

					{% block primary_menu %}
						{% if page.primary_menu %}
							<div class="fr-header__menu fr-modal" id="modal-header-navigation" aria-labelledby="button-492">
								<div class="{{ theme.navigation.container }} ">
									<button class="fr-btn--close fr-btn" aria-controls="modal-header-navigation" title="{{ 'Close'|t }}">
										{{ 'Close'|t }}
									</button>
									<div class="fr-header__menu-links"></div>
									{{ page.primary_menu }}
								</div>
							</div>
						{% endif %}
					{% endblock primary_menu %}

				</header>
			{% endif %}
		{% endblock header %}

		{# -------------------------------------------------------------------------------------------- #}
		{# NOTICE #}
		{# See: dsfr_twig_components module #}
		{% block notice %}
			{% if page.notice %}
			{% endif %}
		{% endblock notice %}

		{# -------------------------------------------------------------------------------------------- #}
		{# MAIN CONTENT #}
		{% block main %}
			<main
				{% if theme.code.w3c != 1 %} role="main" {% endif %} id="contenu">

				{# Important information #}
				{% block info_important %}
					{% if page.info_important %}
						{{ page.info_important }}
					{% elseif theme.info_important.show %}
						<div class="fr-notice fr-notice--info">
							<div class="fr-container">
								<div class="fr-notice__body">
									<p class="fr-notice__title">{{ theme.info_important.message.value|raw }}</p>
									{% if theme.info_important.close %}
										<button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)">
											{{ 'Hide message'|t }}
										</button>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
				{% endblock info_important %}

				{# Hero #}
				{% block hero %}
					{% if page.hero %}
						<div class="{{ theme.hero.container }} fr-pt-{{ theme.hero.margin.top }}v fr-pb-{{ theme.hero.margin.bottom }}v">
							{{ page.hero }}
						</div>
					{% endif %}
				{% endblock %}

				{# Content & Sidebar #}
				<div
					class="{{ theme.content.container }} fr-pt-{{ theme.content.margin.top }}v fr-pb-{{ theme.content.margin.bottom }}v">

					{# Breadcrumbs #}
					{% block breadcrumb %}
						{% if page.breadcrumb %}
							<div class="fr-pt-{{ theme.breadcrumb.margin.top }}v fr-pb-{{ theme.breadcrumb.margin.bottom }}v">
								<div class="fr-grid-row">
									<div class="fr-col-12">{{ page.breadcrumb }}</div>
								</div>
							</div>
						{% endif %}
					{% endblock breadcrumb %}

					{% set sidebar_first = page.sidebar_first|render|striptags|trim|length %}
					{% set sidebar_second = page.sidebar_second|render|striptags|trim|length %}

					{% set nb_main_content = 0 %}
					{% if sidebar_first %}
						{% set nb_main_content = nb_main_content + 1 %}
					{% endif %}
					{% if sidebar_second %}
						{% set nb_main_content = nb_main_content + 1 %}
					{% endif %}

					{# With Sidebar(s) #}
					{% if nb_main_content > 0 %}

						{% if nb_main_content == 1 %}
							{% set size_sidebar_first = 4 %}
							{% set size_content = 8 %}
							{% set size_sidebar_second = 4 %}
						{% else %}
							{% set size_sidebar_first = 3 %}
							{% set size_content = 6 %}
							{% set size_sidebar_second = 3 %}
						{% endif %}

						<div
							class="fr-grid-row fr-grid-row--gutters">
							{# Sidebar First #}
							{% if sidebar_first %}
								<div class="fr-col-12 fr-col-md-{{ size_sidebar_first }} dsfr__sidebar_left">
									{{ page.sidebar_first }}
								</div>
							{% endif %}
							{# Content #}
							<div class="fr-col-12 fr-col-md-{{ size_content }} dsfr__main_content">
							{% else %}
								<div class="dsfr__main_content">
								{% endif %}

								{# Tabs (optional) #}
								{% if page.tabs %}
									{{ page.tabs }}
								{% endif %}
								{# Highlighted (optional) #}
								{% if page.highlighted %}
									<div>{{ page.highlighted }}</div>
								{% endif %}
								{# Help (optional) #}
								{% if page.help %}
									<div>{{ page.help }}</div>
								{% endif %}

								{# Content only #}
								{% block content_only %}
									{{ page.content }}
								{% endblock content_only %}

								{% if nb_main_content > 0 %}
								</div>
								<!-- end dsfr__main_content -->
								{# Sidebar Second #}
								{% if sidebar_second %}
									<div class="fr-col-12 fr-col-md-{{ size_sidebar_second }} dsfr__sidebar_right">
										{{ page.sidebar_second }}
									</div>
								{% endif %}
							</div>
					{% else %}
						</div>
						<!-- end dsfr__main_content -->
					{% endif %}
				</div>

			</main>
		{% endblock main %}

		{% block follow %}
			{% if section_disabled == false %}

				{% set follow = false %}
				{% set newsletter = false %}
				{% set social = false %}

				{% if page.follow_newsletter %}
					{% set follow = true %}
					{% set newsletter = true %}
				{% endif %}
				{% if page.follow_social %}
					{% set follow = true %}
					{% set social = true %}
				{% endif %}

				{% if follow == true %}
					<div class="fr-follow">
						<div class="fr-container">
							<div class="fr-grid-row">

								{% block newsletter %}
									{% if newsletter == true %}
										<div class="fr-col-12{% if newsletter == true and social == true %} fr-col-md-8{% endif %}">
											{{ page.follow_newsletter }}
										</div>
									{% endif %}
								{% endblock newsletter %}
								{% block social %}
									{% if social == true %}
										<div class="fr-col-12{% if newsletter == true and social == true %} fr-col-md-4{% endif %}">
											<div class="fr-follow__social">
												<p class="fr-h5 fr-mb-3v fr-mb-3v">
													{{ 'Follow us'|t }}
													<br>
													{{ 'on social networks'|t }}</p>
												{{ page.follow_social }}
											</div>
										</div>
									{% endif %}
								{% endblock social %}
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% endblock follow %}

		{# -------------------------------------------------------------------------------------------- #}
		{# FOOTER #}
		{% block footer %}
			{% if section_disabled == false %}
				<footer {% if theme.code.w3c != 1 %} role="contentinfo" {% endif %} class="fr-footer" id="footer">
					<div
						class="fr-mb-6v">

						{### Footer Top (optional) #}
						{% block footer_top %}

							{% set nb_footer__top = 0 %}
							{% set col = 'fr-col-12' %}
							{# Number of column(s) #}
							{% for i in 1..6 %}
								{% set n = 'footer_top_' ~ i %}
								{% if page[n] %}
									{% set nb_footer__top = nb_footer__top + 1 %}
								{% endif %}
							{% endfor %}
							{% if nb_footer__top > 0 %}

								<div class="fr-footer__top">
									<div class="{{ theme.footer_top.container }}">
										<div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">

											{% if nb_footer__top != 5 %}
												{# simple case #}

												{% if nb_footer__top == 2 %}
													{% set col = col ~ ' fr-col-md-6' %}
												{% elseif nb_footer__top == 3 %}
													{% set col = col ~ ' fr-col-md-4' %}
												{% elseif nb_footer__top == 4 %}
													{% set col = col ~ ' fr-col-md-3' %}
												{% elseif nb_footer__top == 6 %}
													{% set col = col ~ ' fr-col-sm-3 fr-col-md-2' %}
												{% endif %}

												{% for i in 1..6 %}
													{% set n = 'footer_top_' ~ i %}
													{% if page[n] %}
														<div class="{{ col }}">{{ page[n] }}</div>
													{% endif %}
												{% endfor %}

											{% else %}
												{# 4 columns + 1 (width max) #}

												{% set col = col ~ ' fr-col-md-3' %}
												{% set col_last = col %}
												{% set footer__top = [] %}
												{% set last = 1 %}

												{% for i in 1..6 %}
													{% set n = 'footer_top_' ~ i %}
													{% if page[n] %}
														{% set footer__top = footer__top|merge({ (i) : {'number' : i, 'col' : col }}) %}
														{% set last = i %}
													{% endif %}
												{% endfor %}

												{% for ft in footer__top %}
													{% set n = 'footer_top_' ~ ft.number %}
													<div class="{% if ft.number == last %}{{ col_last }}{% else %}{{ ft.col }}{% endif %}">{{ page[n] }}</div>
												{% endfor %}

											{% endif %}

										</div>
									</div>
								</div>

							{% endif %}
						{% endblock footer_top %}

						{### Footer (area mandatory) #}
						<div
							class="{{ theme.footer.container }}">
							{# Footer body #}
							<div class="fr-footer__body{% if theme.footer.logo.img != 1 %} fr-footer__body--operator{% endif %}">
								<div class="fr-footer__brand fr-enlarge-link">
									<p class="fr-logo">
										{{ theme.general.institution|raw }}
									</p>

									{# Logo image (optional) #}
									{% if theme.general.version.only == 1 and theme.general.version.name != ''  %}
										<span class="fr-ml-6v"><a href="/" title="{{ site.name }}">{{ version|raw }}</a></span>
									{% elseif theme.general.version.name != '' and theme.footer.logo.img == 1 %}
										<span class="fr-ml-6v"><a href="/" title="{{ site.name }}">{{ version|raw }}</a></span>
									{% elseif theme.footer.logo.img != 1 %}
										<a class="fr-footer__brand-link" href="/" title="{{ 'Back to home page'|t }}">{{ page.header_brand }}</a>
										{% if theme.general.version.name != '' %}
											<span class="fr-ml-2v">{{ version|raw }}</span>
										{% endif %}
									{% endif %}
	
								</div>
								<div class="fr-footer__content">

									{% if page.footer %}
										<div class="fr-footer__content-desc">{{ page.footer }}</div>
									{% endif %}

									{% block footer_menu_first %}
										{{ page.footer_menu_first }}
									{% endblock %}

								</div>
							</div>
							{# Footer partner(s) #}
							{% set partner = false %}
							{% if page.partner %}
								{% set partner = true %}
							{% endif %}
							{% if page.partners %}
								{% set partner = true %}
							{% endif %}
							{% if partner %}
								<div class="fr-footer__partners">
									<h4 class="fr-footer__partners-title">{{ 'Our partners'|t }}</h4>
									<div class="fr-footer__partners-logos">
										{% if page.partner %}
											<div class="fr-footer__partners-main">
												{{ page.partner }}
											</div>
										{% endif %}
										{% if page.partners %}
											<div class="fr-footer__partners-sub">
												{{ page.partners }}
											</div>
										{% endif %}
									</div>
								</div>
							{% endif %}
							{# Footer bottom #}
							<div class="fr-footer__bottom">
								{% if page.footer_menu_last %}
									{{ page.footer_menu_last }}
								{% endif %}
								{% if theme.footer.last_line or page.footer_last %}
									{% if page.footer_last %}
										{{ page.footer_last }}
									{% endif %}
									<div class="fr-footer__bottom-copy">
										{% if theme.footer.last_line %}
											<p>
												{{ 'Unless otherwise stated, all texts on this site are under'|t }}
												<a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" rel='noopener' target="_blank">licence etalab-2.0</a>
											</p>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>

				</footer>
			{% endif %}
		{% endblock footer %}

		{% block display_modal %}
			{% if theme.header.settings and section_disabled == false %}
				<dialog id="fr-theme-modal" class="fr-modal" role="dialog" aria-labelledby="fr-theme-modal-title">
					<div class="fr-container fr-container--fluid fr-container-md">
						<div class="fr-grid-row fr-grid-row--center">
							<div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
								<div class="fr-modal__body">
									<div class="fr-modal__header">
										<button class="fr-btn--close fr-btn" aria-controls="fr-theme-modal" id="button-5622" title="{{ 'Close'|t }}">
											{{ 'Close'|t }}
										</button>
									</div>
									<div class="fr-modal__content">
										<h1 id="fr-theme-modal-title" class="fr-modal__title">
											{{ 'Display settings'|t }}
										</h1>
										<div id="fr-display" class="fr-display">
											<fieldset class="fr-fieldset" id="display-fieldset">
												<legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="display-fieldset-legend">
													{{ 'Choose a theme to customize the look of the site'|t }}.
												</legend>
												<div class="fr-fieldset__element">
													<div class="fr-radio-group fr-radio-rich">
														<input value="light" type="radio" id="fr-radios-theme-light" name="fr-radios-theme"/>
														<label class="fr-label" for="fr-radios-theme-light">
															{{ 'Light theme'|t }}
														</label>
														<div class="fr-radio-rich__img">
															<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
																<use class="fr-artwork-decorative" href="{{ theme.dsfr.pictograms }}environment/sun.svg#artwork-decorative"></use>
																<use class="fr-artwork-minor" href="{{ theme.dsfr.pictograms }}environment/sun.svg#artwork-minor"></use>
																<use class="fr-artwork-major" href="{{ theme.dsfr.pictograms }}environment/sun.svg#artwork-major"></use>
															</svg>
														</div>
													</div>
												</div>
												<div class="fr-fieldset__element">
													<div class="fr-radio-group fr-radio-rich">
														<input value="dark" type="radio" id="fr-radios-theme-dark" name="fr-radios-theme"/>
														<label class="fr-label" for="fr-radios-theme-dark">
															{{ 'Dark theme'|t }}
														</label>
														<div class="fr-radio-rich__img">
															<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
																<use class="fr-artwork-decorative" href="{{ theme.dsfr.pictograms }}environment/moon.svg#artwork-decorative"></use>
																<use class="fr-artwork-minor" href="{{ theme.dsfr.pictograms }}environment/moon.svg#artwork-minor"></use>
																<use class="fr-artwork-major" href="{{ theme.dsfr.pictograms }}environment/moon.svg#artwork-major"></use>
															</svg>
														</div>
													</div>
												</div>
												<div class="fr-fieldset__element">
													<div class="fr-radio-group fr-radio-rich">
														<input value="system" type="radio" id="fr-radios-theme-system" name="fr-radios-theme"/>
														<label class="fr-label" for="fr-radios-theme-system">
															{{ 'System'|t }}
															<span class="fr-hint-text">{{ 'Use system settings'|t }}.</span>
														</label>
														<div class="fr-radio-rich__img">
															<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
																<use class="fr-artwork-decorative" href="{{ theme.dsfr.pictograms }}system/system.svg#artwork-decorative"></use>
																<use class="fr-artwork-minor" href="{{ theme.dsfr.pictograms }}system/system.svg#artwork-minor"></use>
																<use class="fr-artwork-major" href="{{ theme.dsfr.pictograms }}system/system.svg#artwork-major"></use>
															</svg>
														</div>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</dialog>
			{% endif %}
		{% endblock display_modal %}

	</div>
{% endblock app_dsfr_drupal %}
