{% extends "@dsfr/layout/page.html.twig" %}

{% block content_only %}

  {% set pictogram = theme.pictogram ~ 'system/error.svg' %}

  <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-grid-row--center">
    <div class="fr-py-0 fr-col-12 fr-col-md-6">
      <h1>{{ 'Access denied'|t }}</h1>
      <p class="fr-text--sm fr-mb-3w">{{ '403 error'|t }}</p>
      <p class="fr-text--lead fr-mb-3w">{{ 'You are not authorized to access this page.'|t }}</p>
      <ul class="fr-btns-group fr-btns-group--inline-md">
        <li>
          <a class="fr-btn" href="{{ path('<front>') }}">
            {{ 'Homepage'|t }}
          </a>
        </li>
      </ul>
    </div>
    <div class="fr-col-12 fr-col-md-3 fr-col-offset-md-1 fr-px-6w fr-px-md-0 fr-py-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="fr-responsive-img fr-artwork" aria-hidden="true" width="160" height="200" viewbox="0 0 160 200">
        <use class="fr-artwork-motif" href="{{ theme.background }}ovoid.svg#artwork-motif"></use>
        <use class="fr-artwork-background" href="{{ theme.background }}ovoid.svg#artwork-background"></use>
        <g transform="translate(40, 60)">
          <use class="fr-artwork-decorative" href="{{ pictogram }}#artwork-decorative"></use>
          <use class="fr-artwork-minor" href="{{ pictogram }}#artwork-minor"></use>
          <use class="fr-artwork-major" href="{{ pictogram }}#artwork-major"></use>
        </g>
      </svg>
    </div>
  </div>

{% endblock content_only %}
