{% extends "@dsfr/layout/page.html.twig" %}

{% block content_only %}
  
  {{ attach_library('dsfr/drupal_user') }}

  {% if site.maintenance %}
    {{ attach_library('dsfr/drupal_maintenance_background') }}
  {% endif %}

  <div>
    <a class="fr-link" href="{{ path('user.login') }}">
      <span class="fr-icon-arrow-left-fill fr-icon--sm" aria-hidden="true"></span> {{ 'Log in'|t }}
    </a>
  </div>

  <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center fr-mb-md-14v">
    <div class="fr-col-12 fr-col-md-12 fr-col-lg-12">
      <div class="fr-container{# fr-background-alt--grey#} fr-px-md-0 fr-py-10v fr-py-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
          <div class="fr-col-12 fr-col-md-9 fr-col-lg-6">
            <div>
              {{ page.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}